library(gdata)
library(gmodels)

##### functions ######

# read data and rename extra long column names
getDataFrmXL <- function(fileName,sheetName){
  return(read.xls(fileName,sheet=sheetName, perl="perl",strip.white=TRUE))
}

mapGrades <- function(type) {
  if (type == "S") 1
  else if (type == "T") 2
  else if (type == "E") 3
  else if (type == "P") 4
  else 0
}

modifyGradesForRow <- function (row) {
  valArray <- c(1:length(row))
  for(i in 1:length(row)){
    x <- mapGrades(trim(row[i]))
    valArray[i] <- x
  }
  subjectMean <- mean(valArray)
  return(subjectMean)
}

createSubjectMean <- function (data,startCol, endCol) {
  GPA <- c(1:nrow(data))
  for(i in 1:nrow(data)){
    selectedRow <- data.frame(data[i, startCol:endCol])
    GPA[i] <- modifyGradesForRow(selectedRow)
  }
  return (GPA)
}

PKGcalGPAUpdDS <- function(data){
  English_GPA <- createSubjectMean(data,7,8)
  data <-data.frame(data,English_GPA)
  Kannada_GPA <- createSubjectMean(data,9,10)
  data <-data.frame(data,Kannada_GPA)
  Theme_GeneralConcepts_GPA <- createSubjectMean(data,11,11)
  data <-data.frame(data,Theme_GeneralConcepts_GPA)
  Physical_Dev_GPA <- createSubjectMean(data,12,14)
  data <-data.frame(data,Physical_Dev_GPA)
  Socio_Dev_GPA <- createSubjectMean(data,15,15)
  data <-data.frame(data,Socio_Dev_GPA)
  Creative_Dev_GPA <- createSubjectMean(data,16,16)
  data <-data.frame(data,Creative_Dev_GPA)
  
  TotalGPA <- (English_GPA + Kannada_GPA + Theme_GeneralConcepts_GPA + Physical_Dev_GPA + Socio_Dev_GPA + Creative_Dev_GPA )/6
  data <-data.frame(data,TotalGPA)
  
  return(data)
}

LKGcalGPAUpdDS <- function(data){
  
  English_GPA <- createSubjectMean(data,7,12)
  data <-data.frame(data,English_GPA)
  Kannada_GPA <- createSubjectMean(data,13,14)
  data <-data.frame(data,Kannada_GPA)
  Math_GPA <- createSubjectMean(data,15,17)
  data <-data.frame(data,Math_GPA)
  Theme_GeneralConcepts_GPA <- createSubjectMean(data,18,19)
  data <-data.frame(data,Theme_GeneralConcepts_GPA)
  Physical_Dev_GPA <- createSubjectMean(data,20,22)
  data <-data.frame(data,Physical_Dev_GPA)
  Socio_Dev_GPA <- createSubjectMean(data,23,23)
  data <-data.frame(data,Socio_Dev_GPA)
  Creative_Dev_GPA <- createSubjectMean(data,24,24)
  data <-data.frame(data,Creative_Dev_GPA)
  
  TotalGPA <- (English_GPA + Kannada_GPA + Math_GPA + Theme_GeneralConcepts_GPA + Physical_Dev_GPA + Socio_Dev_GPA + Creative_Dev_GPA )/7
  data <-data.frame(data,TotalGPA)
  return(data)
}

UKGcalGPAUpdDS <- function(data){
  English_GPA <- createSubjectMean(data,7,10)
  data <-data.frame(data,English_GPA)
  Kannada_GPA <- createSubjectMean(data,11,13)
  data <-data.frame(data,Kannada_GPA)
  Math_GPA <- createSubjectMean(data,14,17)
  data <-data.frame(data,Math_GPA)
  Theme_GeneralConcepts_GPA <- createSubjectMean(data,18,18)
  data <-data.frame(data,Theme_GeneralConcepts_GPA)
  Physical_Dev_GPA <- createSubjectMean(data,19,20)
  data <-data.frame(data,Physical_Dev_GPA)
  Socio_Dev_GPA <- createSubjectMean(data,21,22)
  data <-data.frame(data,Socio_Dev_GPA)
  Creative_Dev_GPA <- createSubjectMean(data,23,23)
  data <-data.frame(data,Creative_Dev_GPA)
  
  TotalGPA <- (English_GPA + Kannada_GPA + Math_GPA + Theme_GeneralConcepts_GPA + Physical_Dev_GPA + Socio_Dev_GPA + Creative_Dev_GPA )/7
  data <-data.frame(data,TotalGPA)
  return(data)
}

createCentreGPAs <- function(data){

  centreEnglishGPAsCurr <- aggregate(data$English_GPA,list(data$Centre),mean)
  colnames(centreEnglishGPAsCurr) <- c("Centre","English_GPA")
  
  centreKannadaGPAsCurr <- aggregate(data$Kannada_GPA,list(data$Centre),mean)
  colnames(centreKannadaGPAsCurr) <- c("Centre","Kannada_GPA")
  
  if (length(which(colnames(data)=="Math_GPA"))>0) {
    centreMathGPAsCurr <- aggregate(data$Math_GPA,list(data$Centre),mean)
  }
  else{
    centre <- data.frame(data$Centre)
    centreMathGPAsCurr <- unique(centre)
    Z <- c("NA")[rep(c(1),times=nrow(centreMathGPAsCurr))]
    centreMathGPAsCurr <- cbind(centreMathGPAsCurr,Z)
  } 
  colnames(centreMathGPAsCurr) <- c("Centre","Math_GPA")
    
  
  centreThemeGPAsCurr <- aggregate(data$Theme_GeneralConcepts_GPA,list(data$Centre),mean)
  colnames(centreThemeGPAsCurr) <- c("Centre","Theme_GeneralConcepts_GPA")
  
  centrePhysicalDevGPAsCurr <- aggregate(data$Physical_Dev_GPA,list(data$Centre),mean)
  colnames(centrePhysicalDevGPAsCurr) <- c("Centre","Physical_Dev_GPA")
  
  centreSocioDevGPAsCurr <- aggregate(data$Socio_Dev_GPA,list(data$Centre),mean)
  colnames(centreSocioDevGPAsCurr) <- c("Centre","Socio_Dev_GPA")
  
  centreCreativeDevGPAsCurr <- aggregate(data$Creative_Dev_GPA,list(data$Centre),mean)
  colnames(centreCreativeDevGPAsCurr) <- c("Centre","Creative_Dev_GPA")
  
  centreTotalGPAsCurr <- aggregate(data$TotalGPA,list(data$Centre),mean)
  colnames(centreTotalGPAsCurr) <- c("Centre","TotalGPA")
  
  centreSDGPAsCurr <- aggregate(data$TotalGPA,list(data$Centre),sd)
  colnames(centreSDGPAsCurr) <- c("Centre","StdDevGPA")
 
  centreNumStudentsCurr <- aggregate(data$Student.Code,list(data$Centre),length)
  colnames(centreNumStudentsCurr) <- c("Centre","NumOfStudents")
  
  centreGPAsCurr <- merge(centreEnglishGPAsCurr,centreKannadaGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreMathGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreThemeGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centrePhysicalDevGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreSocioDevGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreCreativeDevGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreTotalGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreSDGPAsCurr,by="Centre")
  centreGPAsCurr <- merge(centreGPAsCurr,centreNumStudentsCurr,by="Centre")
  
  return(centreGPAsCurr)  
  
}

createCurrPerfTbl <- function(course,data){
  course <- course 
  centre <- data.frame(data$Centre)
  Number_Of_Centres <- nrow(unique(centre))
  
  Number_Of_Students <- sum(data$NumOfStudents)
  
  English <- mean(data$English_GPA)
  Kannada <- mean(data$Kannada_GPA)
  Math <- mean(data$Math_GPA)
  Theme <- mean(data$Theme_GeneralConcepts_GPA)
  Physical_Development <- mean(data$Physical_Dev_GPA)
  Socio_emotional <- mean(data$Socio_Dev_GPA)
  Creative_development <- mean(data$Creative_Dev_GPA)
  Total_GPA <- mean(data$TotalGPA)
  Std_deviation <- sd(data$TotalGPA)
  
  perfRow <- data.frame(course,
                        Number_Of_Centres,Number_Of_Students,English,Kannada,Math,Theme,Physical_Development,
                        Socio_emotional,Creative_development,Total_GPA,Std_deviation)
  return(perfRow)
}

createCentrePerfTbl <- function(dataCurr,dataPrev){
  centreGPAsCurr <- aggregate(dataCurr$TotalGPA,list(dataCurr$Centre),mean)
  colnames(centreGPAsCurr) <- c("Centre","Current_GPA")
  centreGPAsPrev <- aggregate(dataPrev$TotalGPA,list(dataPrev$Centre),mean)
  colnames(centreGPAsPrev) <- c("Centre","Previous_GPA")
  centreGPAs <- merge(centreGPAsCurr,centreGPAsPrev,by="Centre")
  colnames(centreGPAs) <- c("Centre","Current_GPA","Previous_GPA")
  
  centreGPAs <- subset(centreGPAs,centreGPAs$Previous_GPA >= 1)  ### ignoring records for which GPA was less than 1 last month
  
  centreGPApercChng <- 100 * (centreGPAs$Current_GPA - centreGPAs$Previous_GPA)/centreGPAs$Previous_GPA
  centreGPAs <- data.frame(centreGPAs,centreGPApercChng)
  
  # > -10%  Significant drop
  signDrop <- nrow(subset(centreGPAs,centreGPAs$centreGPApercChng < -10))
  # -10  to -2%  Modest drop
  modDrop <- nrow(subset(centreGPAs,centreGPAs$centreGPApercChng <= -2)) - signDrop
  # - 2 to 2 %	No change
  noChange <- nrow(subset(centreGPAs,centreGPAs$centreGPApercChng <= 2)) - modDrop - signDrop
  # 2 % to 10%	Modest gain
  modestGain <- nrow(subset(centreGPAs,centreGPAs$centreGPApercChng <= 10)) - noChange - modDrop - signDrop
  #noChange <- nrow(subset(centreGPAs,is.nan(centreGPAs$centreGPApercChng))) + noChange
  # > 10%	Significant gain
  signGain <- nrow(subset(centreGPAs,centreGPAs$centreGPApercChng > 10))
 
  perfCol <- c(1:5)
  perfCol[1] <- signDrop
  perfCol[2] <- modDrop
  perfCol[3] <- noChange
  perfCol[4] <- modestGain
  perfCol[5] <- signGain
  
  return(perfCol)
}


createChildrenPerfTbl <- function(dataCurr,dataPrev){
  GPAsCurr <- aggregate(dataCurr$TotalGPA,list(dataCurr$Student.Code),mean)
  colnames(GPAsCurr) <- c("student","Current_GPA")
  GPAsPrev <- aggregate(dataPrev$TotalGPA,list(dataPrev$Student.Code),mean)
  colnames(GPAsPrev) <- c("student","Previous_GPA")
  GPAs <- merge(GPAsCurr,GPAsPrev,by="student")
  colnames(GPAs) <- c("student","Current_GPA","Previous_GPA")
  
  GPAs <- subset(GPAs,GPAs$Previous_GPA >= 1)  ### ignoring records for which GPA was less than 1 last month
  
  GPApercChng <- 100 * (GPAs$Current_GPA - GPAs$Previous_GPA)/GPAs$Previous_GPA
  GPAs <- data.frame(GPAs,GPApercChng)
  
  # > -10%  Significant drop
  signDrop <- nrow(subset(GPAs,GPAs$GPApercChng < -10))
  # -10  to -2%  Modest drop
  modDrop <- nrow(subset(GPAs,GPAs$GPApercChng <= -2)) - signDrop
  # - 2 to 2 %  No change
  noChange <- nrow(subset(GPAs,GPAs$GPApercChng <= 2)) - modDrop - signDrop
  # 2 % to 10%	Modest gain
  modestGain <- nrow(subset(GPAs,GPAs$GPApercChng <= 10)) - noChange - modDrop - signDrop
  #noChange <- nrow(subset(GPAs,is.nan(GPAs$GPApercChng))) + noChange
  # > 10%	Significant gain
  signGain <- nrow(subset(GPAs,GPAs$GPApercChng > 10))
  
  perfCol <- c(1:5)
  perfCol[1] <- signDrop
  perfCol[2] <- modDrop
  perfCol[3] <- noChange
  perfCol[4] <- modestGain
  perfCol[5] <- signGain
  
  return(perfCol)
}

#####  Load data -- starts ########
currMonth <- "August"
prevMonth <- "July"

PKG_Curr <- getDataFrmXL("DataFiles/Pre-KG Assessment Data.xls",currMonth)
PKG_Prev <- getDataFrmXL("DataFiles/Pre-KG Assessment Data.xls",prevMonth)

LKG_Curr <- getDataFrmXL("DataFiles/LKG Assessment Data.xls",currMonth)
LKG_Prev <- getDataFrmXL("DataFiles/LKG Assessment Data.xls",prevMonth)

UKG_Curr <- getDataFrmXL("DataFiles/UKG Assessment Data.xls",currMonth)
UKG_Prev <- getDataFrmXL("DataFiles/UKG Assessment Data.xls",prevMonth)

TR_Curr <- getDataFrmXL("DataFiles/KG - Teacher Rating.xls",currMonth)
TR_Prev <- getDataFrmXL("DataFiles/KG - Teacher Rating.xls",prevMonth)

numCols_UKG_Curr <- ncol(UKG_Curr)
numCols_LKG_Curr <- ncol(LKG_Curr)
numCols_PKG_Curr <- ncol(PKG_Curr)

#####  Load data -- ends ########

#####  GPA calculation -- starts ########

PKG_Curr <- PKGcalGPAUpdDS(PKG_Curr)
PKG_Prev <- PKGcalGPAUpdDS(PKG_Prev)

LKG_Curr <- LKGcalGPAUpdDS(LKG_Curr)
LKG_Prev <- LKGcalGPAUpdDS(LKG_Prev)

UKG_Curr <- UKGcalGPAUpdDS(UKG_Curr)
UKG_Prev <- UKGcalGPAUpdDS(UKG_Prev)

PKGcentreGPAsCurr <- createCentreGPAs(PKG_Curr)
PKGEPcentreGPAsCurr<- subset(PKGcentreGPAsCurr,PKGcentreGPAsCurr$TotalGPA > 3)

PKGcentreGPAsPrev <- createCentreGPAs(PKG_Prev)
PKGEPcentreGPAsPrev <- subset(PKGcentreGPAsPrev,PKGcentreGPAsPrev$TotalGPA > 3)

LKGcentreGPAsCurr <- createCentreGPAs(LKG_Curr)
LKGEPcentreGPAsCurr<- subset(LKGcentreGPAsCurr,LKGcentreGPAsCurr$TotalGPA > 3)

LKGcentreGPAsPrev <- createCentreGPAs(LKG_Prev)
LKGEPcentreGPAsPrev<- subset(LKGcentreGPAsPrev,LKGcentreGPAsPrev$TotalGPA > 3)

UKGcentreGPAsCurr <- createCentreGPAs(UKG_Curr)
UKGEPcentreGPAsCurr<- subset(UKGcentreGPAsCurr,UKGcentreGPAsCurr$TotalGPA > 3)

UKGcentreGPAsPrev <- createCentreGPAs(UKG_Prev)
UKGEPcentreGPAsPrev<- subset(UKGcentreGPAsPrev,UKGcentreGPAsPrev$TotalGPA > 3)

#####  GPA calculation -- ends ########

#####  Table 1 data -- starts ########

PKGALLPerf <- createCurrPerfTbl("PKG-ALL",PKGcentreGPAsCurr)
PKGEPPerf <- createCurrPerfTbl("PKG-E and P Centres",PKGEPcentreGPAsCurr)

LKGALLPerf <- createCurrPerfTbl("LKG-ALL",LKGcentreGPAsCurr)
LKGEPPerf <- createCurrPerfTbl("LKG-E and P Centres",LKGEPcentreGPAsCurr)

UKGALLPerf <- createCurrPerfTbl("UKG-ALL",UKGcentreGPAsCurr)
UKGEPPerf <- createCurrPerfTbl("UKG-E and P Centres",UKGEPcentreGPAsCurr)

courseCurrPerf <- rbind(PKGALLPerf,PKGEPPerf,LKGALLPerf,LKGEPPerf,UKGALLPerf,UKGEPPerf)

#####  Table 1 data -- ends ########

#####  Table 2 data -- starts ########

#####  Table 2 data -- ends ########

#####  Table 4 data -- starts ########

tab4Col1 <- c(1:5)
tab4Col1[1] <- "> -10%"
tab4Col1[2] <- "-10  to -2%"
tab4Col1[3] <- "- 2 to 2 %"
tab4Col1[4] <- "2 % to 10%"
tab4Col1[5] <- "> 10%"

tab4Col2 <- c(1:5)
tab4Col2[1] <- "Significant drop"
tab4Col2[2] <- "Modest drop"
tab4Col2[3] <- "No change"
tab4Col2[4] <- "Modest gain"
tab4Col2[5] <- "Significant gain"


PKGCentrePerf <- data.frame(createCentrePerfTbl(PKG_Curr,PKG_Prev))
LKGCentrePerf <- data.frame(createCentrePerfTbl(LKG_Curr,LKG_Prev))
UKGCentrePerf <- data.frame(createCentrePerfTbl(UKG_Curr,UKG_Prev))

centrePerf <- cbind(tab4Col1,tab4Col2,PKGCentrePerf,LKGCentrePerf,UKGCentrePerf)

colnames(centrePerf) <- c("GPA - performance %","Description","# of PKG centres","# of LKG centres","# of UKG centres")

#####  Table 4 data -- ends ########  
  
#####  Table 5 data -- starts ########

tab4Col1 <- c(1:5)
tab4Col1[1] <- "> -10%"
tab4Col1[2] <- "-10  to -2%"
tab4Col1[3] <- "- 2 to 2 %"
tab4Col1[4] <- "2 % to 10%"
tab4Col1[5] <- "> 10%"

tab4Col2 <- c(1:5)
tab4Col2[1] <- "Significant drop"
tab4Col2[2] <- "Modest drop"
tab4Col2[3] <- "No change"
tab4Col2[4] <- "Modest gain"
tab4Col2[5] <- "Significant gain"


PKGChildrenPerf <- data.frame(createChildrenPerfTbl(PKG_Curr,PKG_Prev))
LKGChildrenPerf <- data.frame(createChildrenPerfTbl(LKG_Curr,LKG_Prev))
UKGChildrenPerf <- data.frame(createChildrenPerfTbl(UKG_Curr,UKG_Prev))

childrenPerf <- cbind(tab4Col1,tab4Col2,PKGChildrenPerf,LKGChildrenPerf,UKGChildrenPerf)

colnames(childrenPerf) <- c("GPA - performance %","Description","# of PKG children","# of LKG children","# of UKG children")

#####  Table 5 data -- ends ########  

createPlotTable <- function(startCol, endCol){
  for(i in startCol:endCol){
    colAgg <- aggregate(LKG_Curr[,i],list(LKG_Curr[,i]),length )
    colAggGrades <- data.frame(colAgg[3:6,2])
    sumGrades <- sum(colAggGrades, na.rm = TRUE)
        
    T_Grade <- subset(colAgg,colAgg[,1] == "T")[,2]/sumGrades*100
    E_Grade <- subset(colAgg,colAgg[,1] == "E")[,2]/sumGrades*100
    P_Grade <- subset(colAgg,colAgg[,1] == "P")[,2]/sumGrades*100
    S_Grade <- subset(colAgg,colAgg[,1] == "S")[,2]/sumGrades*100
    
    if(length(S_Grade)==0){
      S_Grade <- 0  
    } 
    if(length(T_Grade)==0){
      T_Grade <- 0  
    }
    if(length(E_Grade)==0){
      E_Grade <- 0  
    }
    if(length(P_Grade)==0){
      P_Grade <- 0  
    }  
    mydf1 <- data.frame(S_Grade,T_Grade,E_Grade,P_Grade)
    if(i == startCol){
      tab1 <- mydf1  
    }else{
      tab1 <- rbind(tab1, mydf1)
    }
  }
  tab2 <- t(tab1)
  return (tab2)
}

plotHistograms <- function(histFileName, numCols, subTitle){
  
  x <- createPlotTable(7,numCols)
  png(histFileName, width = 800, height = 325)
  barplot(x, width = 1, space = 1,
        names.arg = NULL, legend.text = TRUE, beside = FALSE,
        horiz = FALSE, density = NULL, angle = 45,
        col = c("cornflowerblue","firebrick4","green4","plum"), border = par("fg"),
        main = "Understanding  performance in individual learning outcomes for the month", 
        sub = subTitle, xlab = NULL, ylab = NULL,
        xlim = NULL, ylim = NULL, xpd = TRUE, log = "",
        axes = TRUE, axisnames = TRUE,
        cex.axis = par("cex.axis"), cex.names = par("cex.axis"),
        inside = TRUE, plot = TRUE, axis.lty = 0, offset = 0,
        add = FALSE, args.legend = list(x = "top" ,horiz = TRUE, inset=-0.3, bty="n"))
  dev.off()
}

plotHistograms("histogram_ukg.png", numCols_UKG_Curr, "UKG")
plotHistograms("histogram_Lkg.png", numCols_LKG_Curr, "LKG")
plotHistograms("histogram_Prekg.png", numCols_PKG_Curr, "Pre-KG")

